# SPDX-FileCopyrightText: Common Ground Electronics <https://cgnd.dev>
#
# SPDX-License-Identifier: MIT OR Apache-2.0

[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/common-ground-electronics/hugo-coder.git
